*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}

body::before{
    background-image: url(../Fundos/—Pngtree—stream\ binary\ code\ background_1738470.png);
    content:"";
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    position:fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgb(34,32,69);
}

.titulo{
    text-align: center;
    font-size: 45px;
    font-family: 'Indie Flower', cursive,'Segoe UI';
    height: 150px;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* MINI MENU*/
.modal{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modais {
    color: white;
    background-color: #18171785;
    width: 25%;
    height: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-right:2px solid white ;
    border-left:2px solid white ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modais li{
    list-style: none; 
    padding: 10px 20px;
}
.modais li:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    border-bottom:2px solid rgb(0, 174, 255) ;
}
.barra-vertical{
    height: 20px;
    width: 4px;
    background-color: rgb(1,229,240);
}


/* PROJETOS FEITOS  */
.projetos{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 100px;
    font-size: 25px; 
}
.barra{
    height: 5px;
    width: 55px;
    background-color: rgb(1,229,240);
}
.meio{
    display: flex;
    align-items: center;
    justify-content: center;
    height:320px;
}
.container{
    display: flex;
    align-items: center;
    gap: 25px;
    border: 1px solid #8a8383;
    height: 250px;
    width: 700px;
    border-radius: 50px;
}
.container a{
    text-decoration: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container a:hover{
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(0, 247, 255, 0.76);
}
.container-interno{
    text-align: center;
    display:flexbox;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
}
.container-interno img{
    height: 100px;
    width: 100px;
    border-radius:50px;
    margin-top: 7px;
    
}
.container-interno:hover{
    padding: 2px 10px;
}


/* CURRICULO */
.modal-c{
    height: 100vh;
    position: absolute;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #18171785;
}
.modal-c.abrir{
    display: flex;
}
.c-interno{
    height: 650px;
    width: 560px;
    background-color: white;
    display: flex;
    justify-content:end;
}
.c-interno embed{
    height: 650px;
    width: 560px;
}


/* SOBRE MIM */
.modal-sm{
    height: 100vh;
    position: absolute;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #18171785;
    transition: 3s;
}
.modal-sm.abrir{
    display: flex;
}
.div-interna{
    height: 500px;
    width: 560px;
    color: white;
    display: flex;
    justify-content: end;
    text-align: center;
    font-family: 'Segoe UI',Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../Fundos/—Pngtree—code\ icon\ design\ vector_3657923.png);
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.black{
    height:500px;
    width:560px;
    background-color: #0000007c;
    border-radius: 10px;
}
.titulo-sobre-m{
    padding-top: 60px;
    padding-bottom: 3px;
    font-size: 20px;
}
.barrinha-2{
    height: 3px;
    width: 50px;
    background-color:rgb(1,229,240) ;
}
.descricao-sobre-m{
  padding: 10px;
  margin-top: 50px;
  font-size: 17px;
}
.descricao-sobre-m-2{
    padding: 15px;
    font-size: 17px;
}


/* SOBRE OS PROJETOS */
.modal-sp{
    height: 100vh;
    position: absolute;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #18171785;
    transition: 3s;
}
.modal-sp.abrir{
    display: flex;
}
.div-interna-sp{
    height: 660px;
    width: 660px;
    display: flex;
    justify-content: end;
    color: white;
    text-align: center;
    font-family: 'Segoe UI',Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../Fundos/—Pngtree—code\ icon\ design\ vector_3657923.png);
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.black-sp{
    height:660px;
    width:660px;
    background-color: #0000007c;
    border-radius: 10px;
}
.titulo-sobre-p{
    padding-top: 20px;
    padding-bottom: 2px;
    font-size: 22px;
}
.titulo-sobre-p-a{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 3px;
    font-family: Chakra petch, 'Segoe UI';
}
.barrinha-2-sp{
    height: 3px;
    width: 150px;
    background-color:rgb(1,229,240);
    margin-bottom: 30px;
}
.barrinha-2-sp-a{
    height: 3px;
    width: 70px;
    background-color:rgb(219, 18, 18); 
}
.descricao-sobre-p{
  padding: 0px 10px 20px 10px;
  font-size: 15px;
}

/* REPOSITÓRIOS */
.repositorio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
    background-image: linear-gradient(to top right, rgb(0, 255, 242),rgb(5, 226, 255), rgb(0, 174, 255),rgb(5, 70, 155),rgb(4, 0, 255));
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}
.repositorio a{
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.repositorio:hover a{
    color: rgb(255, 255, 255);
}
.repositorio:hover{
    transition: 10s;
    background-image: linear-gradient(to top right,rgb(4, 0, 255),rgb(5, 70, 155),rgb(0, 174, 255),rgb(5, 226, 255),rgb(0, 255, 242));
}


/* FECHAMENTOS */
.fechar-1{
    height:17px;
    width: 17px;
    font-size: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(50,54,57);
    
}
.fechar-1:hover{
    background-color: rgb(159, 160, 161);
    color: red;
}

.fechar-2{
    height:17px;
    width: 17px;
    font-size: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.fechar-2:hover{
    background-color: rgb(159, 160, 161);
    color: red;
}

.fechar-3{
    height:17px;
    width: 17px;
    font-size: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.fechar-3:hover{
    background-color: rgb(159, 160, 161);
    color: red;
}
