*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*IMAGEM DE FUNDO*/
body::before{
    background-image: url(../imagens/img-de-fundo.png);
    content:"";
    background-size:cover;
    background-position: center;
    position:fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
}

/*DIVs FLEX*/
.modal-c.abrir, .modal-sm.abrir, .fechar-1, .fechar-2, .modal, .meio, .container, .about, .repositorio {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CURRICULO */
.modal-c{
    height: 100vh;
    position: absolute;
    width: 100vw;
    display: none;
    background-color: #18171785;
    z-index: +99;
}
.c-interno{
    height: 650px;
    width: 560px;
    background-color: white;
    justify-content:end;
}
.c-interno embed{
    height: 650px;
    width: 560px;
}

/* SOBRE MIM */
.modal-sm{
    height: 100vh;
    position: absolute;
    width: 100vw;
    display: none;
    background-color: #18171785;
    z-index: 99;
}
.div-interna{
    text-align: center;
    height: 540px;
    width: 560px;
    color: white;
    justify-content: end;
    font-family: 'Segoe UI',Verdana, Geneva, Tahoma, sans-serif;
    content: "";
    background-image: url(../imagens/código.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.titulo-sobre-m{
    padding-top: 60px;
    padding-bottom: 3px;
    font-size: 20px;
}
.barrinha-2{
    height: 3px;
    width: 50px;
    background-color:rgb(1,229,240);
}
.descricao-sobre-m{
  padding: 10px;
  margin-top: 50px;
  font-size: 17px;
}
.descricao-sobre-m-2{
    padding: 15px;
    font-size: 17px;
}
.s-linguagens{
    margin-top: 5px;
    font-size: 20px;
}
.linguagens img{
    height: 50px;
    margin: 10px;
}


/* FECHAMENTOS */
.fechar-1, .fechar-2{
    height:25px;
    width:25px;
    font-size: 20px;
    color:white;
    position:absolute;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(50,54,57);
    
}
.fechar-2:hover, .fechar-1:hover{
    background-color: rgb(159, 160, 161);
    color: red;
}

/*TITULO DE ENTRADA*/
.titulo{
    text-align: center;
    font-size: 35px;
    font-family: "Bruno Ace", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}


/* MINI MENU*/
.modal{
    height: 50px;
    width: 100%;
    z-index: -1;
}
.modais {
    color: white;
    background-color: transparent;
    backdrop-filter: blur(20px);
    filter: drop-shadow(5px 5px 10px rgb(41,51,117));
    width: 300px;
    height:50px;
    font-family:'Montserrat';
    border-right:2px solid white;
    border-left:2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
}
.modais p{
    padding: 15px;
}
.modais p:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    transition: 1s;
}
.barra-vertical{
    height: 20px;
    width: 4px;
    background-color: rgb(1,229,240);
}


/* PROJETOS FEITOS  */
.projetos{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 150px;
    font-size: 35px; 
}
.barra{
    height: 5px;
    width: 55px;
    background-color: rgb(1,229,240);
}
.meio{
    height:320px;
}
.container{
    gap: 40px;
    padding: 0px 20px;
    height: 250px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 30px rgba(227,228, 237, 0.37);
    border: 2px solid rgba(255, 255,255, 0.18);
}
.container a{
    text-decoration: none;
    color: white;
    font-family:'kalam', cursive;
    font-size: 17px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.466);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.container a:hover{
    color: rgb(0, 217, 255);
    transition: 0.3s;
    border-color: rgb(0, 217, 255) white;
}
.container:hover > :not(:hover){
    opacity: 0.8;
}
.container-interno{
    text-align: center;
    height: 150px;
    width: 150px;
}
.container-interno img{
    height: 100px;
    width: 100px;
    border-radius:50px;
    margin-top: 7px;
}
.container-interno:hover .about{
    opacity: 1;
    height: 200px;
    width: 250px;
    color: white;
    border: 1px solid white;
    transform: translateY(135px);
    background-color: #00000075;
    backdrop-filter: blur(50px);
    font-size: 15px;
    transition: all 0.5s ease-in-out;
}


/*SOBRE OS PROJETOS*/
.about{
    font-family:'Montserrat';
    height: 0px;
    width: 150px;
    color: transparent;
    padding: 5px;
    background-color:transparent;
    border-radius: 20px;
    opacity: 0;
    position: relative;
    bottom: 80px;
    right: 50px;
    font-size: 1px;
}


/* REPOSITÓRIOS */
.repositorio{
    width: 41px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-size: 300% 100%;
    background-image: linear-gradient(to left, rgb(0, 255, 242),rgb(5, 226, 255),rgb(219,18,126),rgb(5, 70, 155),rgb(6, 53, 206));
    animation: degrade 5s infinite alternate;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.repositorio img{
    height: 40px;
    border-radius: 20px;
}
.repositorio P{
    width:0px;
}
.repositorio:hover p{
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.repositorio:hover{
    width: 140px;
}


@keyframes degrade {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
    
}
