@media screen and (min-width: 300px) and (max-width: 1050px){
    body::before{
        background-repeat: repeat-y;
    }
}

@media screen and (min-width: 400px) and (max-width: 650px){
    .titulo{
        text-align: center;
        font-size: 25px;
        height: 100px;
        width: 100%;
        padding-top: 50px;
    } 


    /*MINI MENU*/
    .modais {
        width: 95%;
        height: 40px;
        font-size: 11px;
    }
    
    .modais li{
        list-style: none; 
        padding: 10px 30px;

    }
    .modais li:hover {
        transition: 0s;
        padding: 12px 30px ;
    }


    /*PROJETOS*/
    .meio{
        height:450px;
        margin-top: 50px;
    }
    .container{
        height: 450px;
        width: 95%;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0px;
    }
    .container-interno{
        height: 150px;
        width: 120px;
        font-size: 15px;
    }
    .container-interno img{
        height: 90px;
        width: 90px;
    }
    .container a:hover{
        padding: 5px 5px;
    }


    /*CURRICULO*/
    .modal-c{
        height: 100%;
        width: 100%;
    }
    .c-interno{
        height: 560px;
        width: 350px;
    }
    .c-interno embed{
        height: 560px;
        width: 350px;
    }


    /*SOBRE MIM */
    .div-interna{
        height: 400px;
        width: 100%;
    }
    .black{
        height:400px;
        width:100%;
    }
    .titulo-sobre-m{
        padding-top: 40px;
        font-size: 18px;
    }
    .descricao-sobre-m{
      padding: 10px;
      margin-top: 25px;
      font-size: 13px;
    }
    
    .descricao-sobre-m-2{
        padding: 15px;
        font-size: 13px;
    }

    .s-linguagens{
        margin-top: 0px;
        font-size: 18px;
    }
    .linguagens img{
        height: 45px;
        margin: 10px;
    }
    


    /*SOBRE OS  PROJETOS */
    .div-interna-sp{
        height: 610px;
        width: 100%;
    }
    .black-sp{
        height:610px;
        width:100%;
    }
    .titulo-sobre-p{
        padding-top: 20px;
        padding-bottom: 2px;
        font-size: 20px;
    }
    .titulo-sobre-p-a{
        font-size: 15px;
    }
    .descricao-sobre-p{
      padding: 0px 10px 20px 10px;
      font-size: 13px;
    }


    /*fechamentos*/
    .fechar-1{
        font-size: 10px; 
        width: 16px;
        background-color: rgb(50,54,57);
        height: 16px;
    }
    .fechar-2{
        font-size: 13px;
        height: 20px;
        width: 20px;
        background-color: rgba(0, 0, 0, 0);
        margin-right: 5px;
    }
    .fechar-3{
        font-size: 13px;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        background-color: rgba(0, 0, 0, 0);
    }
}

@media screen and (min-width: 651px) and (max-width: 900px){
    .titulo{
        text-align: center;
        font-size: 25px;
        height: 100px;
        width: 100%;
        padding-top: 50px;
    } 


    /*MINI MENU*/
    .modais {
        width: 500px;
        height: 40px;
        font-size: 16px;
    }
    .modais li{
        list-style: none; 
        padding:5px 5px;
    }
    .modais li:hover {
        padding: 9px 15px;
        transition: 0.5s;
    }


    /*PROJETOS FEITOS*/
    .meio{
        height:400px;
        margin-top: 50px; 
    }
    .container{
        display: flex;
        height: 450px;
        width:95%;
        flex-wrap: wrap;
        gap: 10px;
    }
    .container-interno{
        height: 160px;
        width: 160px;
    }
    .container-interno img{
        height: 100px;
        width: 100px;
    }
    .container a:hover{
        color: rgb(0, 217, 255);
        padding: 1px 3px;
        transition: 0.3s;
        border-color: rgb(0, 217, 255) white;
    }


    /*CURRICULO*/
    .modal-c{
        height: 100%;
        width: 100%;
    }
    .c-interno{
        height: 560px;
        width: 350px;
    }
    .c-interno embed{
        height: 560px;
        width: 350px;
    }


    /*SOBRE MIM */
    .div-interna{
        height: 440px;
        width: 95%;
    }
    .black{
        height:440px;
        width:100%;
    }
    .titulo-sobre-m{
        padding-top: 40px;
        font-size: 18px;
    }
    .descricao-sobre-m{
      padding: 15px;
      margin-top: 25px;
      font-size: 16px;
    }
    .descricao-sobre-m-2{
        padding: 15px;
        font-size: 16px;
    }


    /*SOBRE OS  PROJETOS */
    .div-interna-sp{
        height: 610px;
        width: 95%;
    }
    .black-sp{
        height:610px;
        width:100%;
    }
    .titulo-sobre-p{
        padding-top: 20px;
        padding-bottom: 2px;
        font-size: 20px;
    }
    .titulo-sobre-p-a{
        font-size: 18px;
    }
    .descricao-sobre-p{
      padding: 0px 10px 20px 10px;
      font-size: 16px;
    }


    /*FECHAMENTOS */
    .fechar-1{
        font-size: 15px;
    }
    .fechar-2{
        font-size: 15px;
    }
    .fechar-3{
        font-size: 15px;
    }
}

@media screen and (min-width: 901px) and (max-width : 1900px){
    
     /*MINI MENU*/
     .modais {
        width: 500px;
        height: 50px;
        font-size: 16px;
    }
    .modais li{
        list-style: none; 
        padding: 5px 0px;
    }
}
