@media screen and (min-width:350px) and (max-width:479px){
    /*SOBRE MIM*/
    .div-interna{
        width: 100%;
    }
    .descricao-sobre-m{
        padding: 0px;
        font-size: 16px;
        width: 335px;
    }
    .code{
        margin-top:20px;
    }
    .fechar-0, .fechar-1{
        width: 25px;
        font-size: 25px;
    }
    .fechar-1{
        left: 165px;
    }
    .fechar-0{
        top: 30px;
        left: 2px;
    }

    /*TITULO DE ENTRADA*/
    .titulo{
        font-size: 20px;
    }

    /*PROJETOS*/
    .projetos{
        font-size: 25px;
    }
    .container{
        padding: 0px 2px;
    }
    .one img{
        height: 90px;
    }
    .nome{
        font-size: 20px;
    }
    .two{
        font-size: 15px;
        line-height: 20px;
    }
    .one a{
        padding: 8px 18px;
        font-size: 15px;
    }
}

@media screen and (min-width:480px) and (max-width:689px){
    /*SOBRE MIM*/
    .div-interna{
        width: 100%;
    }
    .descricao-sobre-m{
        padding: 0px;
        font-size: 16px;
        width: 470px;
    }
    .code{
        margin-top:20px;
    }
    .fechar-1{
        left: 240px;
    }

    /*TITULO DE ENTRADA*/
    .titulo{
        font-size: 25px;
    }

    /*PROJETOS*/
    .projetos{
        font-size: 30px;
    }
    .container{
        padding: 0px 5px;
    }
    .one img{
        height: 130px;
    }
    .two{
        font-size: 18px;
        line-height: 25px;
    }
}

@media screen and (min-width:690px) and (max-width:849px){
    /*PROJETOS*/
    .container{
        padding: 0px 30px;
    }
    .two{
        font-size: 20px;
        line-height: 35px;
    }
}
/*MODIFICAÇÃO GERAL*/
@media screen and (max-width:1000px){
    /*PROJETOS*/
    .container{
        width: 95%;
    }
}

@media screen and (min-width:2500px) and (max-width:3000px){
    /*SOBRE MIM*/
    .titulo-sobre-m{
        font-size: 50px;
    }
    .descricao-sobre-m{
        padding: 20px;
        font-size: 40px;
        width: 1500px;
    }
    .code{
        margin-top:20px;
        font-size: 50px;
    }
    .linguagens img{
        height: 100px;
        margin: 15px;
    }
    .redes-title{
        font-size: 50px;
    }
    .redes-sociais img{
        height: 80px;
    }
    .fechar-1{
        width: 50px;
        font-size: 50px;
    }
    .fechar-1{
        left: 705px;
    }

    /* MINI MENU*/
    .modal{
        height: 100px;
    }
    .modais p, .modais a{
        padding: 20px 25px;
        font-size: 35px;
    }
    .barra-vertical{
        height: 30px;
        width: 6px;
    }

    /*TITULO DE ENTRADA*/
    .titulo{
        font-size: 65px;
    }

    /*PROJETOS*/
    .projetos{
        font-size: 65px;
    }
    .container{
        width: 80%;
    }
    .one img{
        height: 300px;
    }
    .nome{
        font-size: 50px;
    }
    .two{
        font-size: 45px;
        line-height: 55px;
    }
    .one a{
        padding: 15px 50px;
        font-size: 30px;
    }

    /*REPOSITÓRIOS*/
    .repositorio{
        width: 81px;
        height: 80px;
    }
    .repositorio img{
        height: 80px;
    }
    .repositorio P{
        font-size: 30px;
    }
    .repositorio:hover p{
        width: 100%;
    }
    .repositorio:hover{
        width: 305px;
    }
}
